h2 {
    color:#191919;
    text-align: left;
}

.container {
    width: 600px;
    height: 50px;
    margin: auto;
    color:black;
    background-color: #191919;
}
.content {
    color: #191919;
    text-align: left;
}

.title {
    margin-bottom: 10px;
    padding: 20px;
}

p {
    padding: 20px;
}