.hero {
    background-color: #ffdf76;
    height: 600px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 5rem;
}
