
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    border-collapse: collapse;
    }

    .container-body {
        display: flex;
        flex: 1;

    }

footer {
    background-color: #fccfa6;
    padding: 150px 300px;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: xx-large;
    justify-content: center;
}

body {
    background-image: linear-gradient(#ff818a, #d682d4);
    margin: 0;
    padding: 0;
}

.hero-image {
    background-image: url("DSC07031.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.header {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.hero-text {
    padding: 275px 30px;
    color: white;
    text-align: center;
    grid-column: 1;
    font-family: 'Libre Franklin', sans-serif;
    font-size: xx-large;
}

.logotype{
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}