$fontColor: #444444;

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1rem;
}

.article {
    max-width: 50%;
}

.header {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $fontColor;
}

.content {
    font-family: 'Chivo', sans-serif;
    font-weight: 500;
    font-size: large;
    color: $fontColor;
    margin-bottom: 10rem;
}