.articles-wrapper {
    background-color: #FFDF76;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1rem;
}

.link {
    text-decoration: none;
    text-decoration-color: white;
}

a:link {
    text-decoration: none;
}

