.wrapper {
    background-color: #FFDF76;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1rem;
}

.article {
    max-width: 30%;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: large;
}